parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$environment of class App\\Kernel constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: public/index.php

		-
			message: '#^Property App\\Entity\\User\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Cannot call method getLogging\(\) on App\\Instrumentation\\Instrumentation\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Instrumentation/InstrumentationHolder.php

		-
			message: '#^Cannot call method getMetrics\(\) on App\\Instrumentation\\Instrumentation\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Instrumentation/InstrumentationHolder.php

		-
			message: '#^Cannot call method getTracing\(\) on App\\Instrumentation\\Instrumentation\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Instrumentation/InstrumentationHolder.php

		-
			message: '#^Method App\\Normalizer\\Normalizer\:\:toArray\(\) should return array\<string, mixed\> but returns array\|ArrayObject\|bool\|float\|int\|string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Normalizer/Normalizer.php
